
/* Faz a estilização da apresentação da empresa e do texto quem nós somos*/
#container-apresentação {
    display: grid;
    grid-template-rows: 7fr 1fr;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
    background-color: white;
    font-size: 135%;
    text-align: justify;
    margin: 3% 3% 3% 3%;
}

/*Pinta o fundo do header de branco*/
header {
    background-color: white;
}

/*Contraliza o título que apresenta as seções*/
#container-titulo-seção {
    text-align: center;
    font-size: 130%;
}

/*Estiliza o box das duas seções*/
.seção {
    display: grid;
    grid-template-rows: 6fr 2fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color:rgb(245, 62, 72);
    row-gap: 10px;
    column-gap: 10px;
    margin: 3% 3% 3% 3%;
    padding: 3% 3% 3% 3%;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: black 0.5em 0.5em 0.3em;
}

/* Faz a estilização do lado esquerdo (texto) das seções*/
.container-seção1 {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 120%;
    text-align: justify;
}

/* Centraliza os títulos das seções*/
.titulo-seção {
    padding: 3% 4% 3% 0%;
    text-align: center;
}

/* Centraliza o texto das seções*/
.container-texto-seção {
    padding: 3% 3% 3% 0%;
}

/* Faz a estilização das imagen das seções*/
img {
    height: 50%;
    width: 100%;
    border-radius: 1em;
}

/* Faz a estilização dos buttons das seções - padrão normal*/
.container-button-main {
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}

/* Faz a estilização os buttons das seções no hover do mouse*/
.container-button-main:hover {
    background-color: black;
    color: white;
    border-radius: 1em;
    padding: 20px 20px 20px 20px;
}